@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

:root {
	--main-white: #f9faf8;
	--secondary-white: #e5e7eb;
	--main-background: #2e2060;
	--secondary-background: #552fde;
	--blue-dark: #1f2937;
	--background-grey: #e5e7eb;
}

body {
	font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT';
	margin: 0px;
}

.max-width-container {
	max-width: 1400px;
	width: 100%;
}

.hero-card {
	padding: 10px;
	display: flex;
	justify-content: center;
	background: rgb(82, 59, 238);
	background: linear-gradient(
		90deg,
		rgba(82, 59, 238, 1) 0%,
		rgba(233, 152, 227, 1) 100%
	);
	border-radius: 0 0 236px 0;
	box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.42);
	-webkit-box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.42);
	-moz-box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.42);
	margin-bottom: 10px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-container img {
	width: 100px;
	height: auto;
}

header {
	margin-bottom: 30px;
}

nav {
	padding: 5px;
}

a {
	text-decoration: none;
}

nav a {
	margin-right: 10px;
	font-size: 18px;
	color: var(--secondary-white);
}

nav a:hover {
	margin-right: 10px;
	font-size: 18px;
	color: var(--blue-dark);
}

.hero-card-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-content-max-width {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1173px;
	width: 100%;
}

.hero-bottom-left h1 {
	font-size: 48px;
	font-weight: bolder;
	color: var(--main-white);
	margin-bottom: 5px;
	max-width: 575px;
}

#css-title {
	font-size: larger;
	color: rgb(254, 38, 211);
	z-index: 0;
	position: relative;
}

#css-title img {
	position: absolute;
	z-index: -1;
	top: -21px;
	left: -10px;
	width: 150px;
}

.hero-bottom-left p {
	color: var(--secondary-white);
	margin-bottom: 10px;
	margin: 0 0 5px 0;
	font-size: 18px;
	max-width: 531px;
}

button {
	width: 150px;
	padding: 10px;
	border-radius: 5px;
	font-size: large;
	transition: transform 0.2s ease-in-out;
}

button:hover {
	cursor: pointer;
	background: #fff !important;
	box-shadow: 0 0 20px 11px #3f2796;
	color: #552fde !important;
	transform: scale(1.2);
}

.hero-bottom-left button {
	background: rgb(82, 59, 238);
	background: linear-gradient(
		90deg,
		rgb(254, 38, 211) 0%,
		rgb(231, 126, 224) 100%
	);
	color: var(--secondary-white);
	border: none;
}

.hero-bottom-right img {
	width: 514px;
	height: auto;
}

.topics-card {
	padding: 5px;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	height: 500px;
}

.topics-title {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.topics-title h2 {
	color: var(--blue-dark);
	font-size: 36px;
	font-weight: 900;
}

.topics-card-bottom {
	align-content: center;
	display: flex;
	justify-content: space-around;
}

.lecture-top img {
	width: 300px;
	height: auto;
	border-radius: 5px;
}

.lecture-bottom {
	max-width: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lecture-bottom :first-child {
	font-size: larger;
	margin-bottom: 3px;
	width: fit-content;
	font-weight: 900;
}

.quote-card {
	display: flex;
	justify-content: center;
	padding: 5px;
	background-color: var(--background-grey);
	padding: 50px;
}

blockquote {
	font-size: 36px;
	font-style: italic;
	font-weight: 100;
}

blockquote span {
	font-size: 25px;
	font-weight: 200;
	float: right;
}

.cta-card {
	padding: 50px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.cta-container {
	background-color: var(--secondary-background);
	display: flex;
	width: 1000px;
	height: 150px;
	justify-content: space-around;
	align-items: center;
	color: var(--main-white);
}

.cta-container-left p {
	margin: 0;
}

.cta-container-left p:first-child {
	font-size: 20px;
	font-weight: 600;
}

.cta-container-right button {
	background: transparent;
	color: var(--secondary-white);
	border: solid var(--secondary-white) 2px;
}

footer {
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main-white);
	background: rgb(82, 59, 238);
	background: linear-gradient(
		90deg,
		rgba(82, 59, 238, 1) 0%,
		rgba(233, 152, 227, 1) 100%
	);
}

.stories__bg {
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	transition: opacity.3s ease-in-out;
}
