html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Comforter Brush', cursive;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #efb106;
}

section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
p {
	margin-bottom: 0;
	margin-top: 2rem;
}

fieldset{
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 2rem;
}
legend{
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1.3rem;
	margin-bottom: 0.5rem;
	text-align: center;
	border: 5px solid red;

}
label{
	display: block;
	border: 5px solid blue;
}
textarea{
	height: 10rem;
	width: 1rem;
}
select{
	font-size: 1rem;
}
button {
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: none;
	padding: 1rem 1rem;
	border-radius: 10px;
	background-color: salmon;
	color: seashell;	
}
button:hover {
	background-color: skyblue;
	color: teal;
}
iframe{
	border: solid red;
	margin-top: 2rem;
}
h3{
	border: solid blueviolet;
}
address{
	border: solid red;
}










